body {
  background: #fff;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  margin: 3px 8px 8px;
  overflow: hidden;
}

body, table {
  font-size: small;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

.gwt-Button {
  cursor: pointer;
  font-family: Tahoma, Verdana;
}

.gwt-Button[disabled] {
  cursor: auto;
}

.gwt-DialogBox {
  background-color: white;
}

.gwt-DialogBox .Caption {
  background: url(../images/gradient.png) repeat-x 0px -1px;
  font-weight: normal;
  cursor: default;
  padding: 5px 10px;
  border: 1px solid #666;
  text-align: left;
}

.gwt-DialogBox .dialogContent {
  border: 1px solid #666;
  border-top: 0;
}

.gwt-DialogBox td {
  text-align: right;
}

.gwt-DialogBox .gwt-Button {
  margin: 10px;
}

.gwt-SplitLayoutPanel-HDragger {
  cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
  cursor: row-resize;
}